* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ff1493;
    font-family: Helvetica, Arial, sans-serif;
 }

 header {
     padding: 20px 35px;
     background-color: #000000;
 }

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ff1493;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #ff1493;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

section {
    padding: 60px;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/hero.jpeg");
    height: 300px;
    background-size: cover;
    position: relative;
}
/* Hero Style End */

.about h2 {
    font-size: 40px;
    margin-bottom: 35px;
}

.about p {
    color: #000000;
    font-size: 20px;
}